[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {git = "https://github.com/Rapptz/discord.py", ref = "rewrite"}
yarl = "==1.1.1"
dateparser = "==0.7.0"
peewee-async = "==0.5.12"
aiopg = "==0.13.2"
peewee-migrate = "==0.14.0"
humanize = "==0.5.1"

[dev-packages]
"flake8" = "==3.5.0"
"flake8-import-order" = "==0.17.1"
"flake8-bugbear" = "==18.2.0"

[requires]
python_version = "3.6"
