[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {git = "https://github.com/Rapptz/discord.py", ref = "rewrite"}
dataset = "*"
stuf = "*"
fuzzyfinder = "*"
sqlalchemy = "*"
sqlalchemy-aio = "*"
alembic = "*"
yarl = "==1.1.1"

[dev-packages]
"flake8" = "*"

[requires]
python_version = "3.6"
