[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {git = "https://github.com/Rapptz/discord.py", ref = "rewrite"}
yarl = "==1.1.1"
dateparser = "*"
peewee-async = "*"
aiopg = "*"
peewee-migrate = "==0.14.0"

[dev-packages]
"flake8" = "*"

[requires]
python_version = "3.6"
