# {{ ansible_managed }}

[Unit]
Description=discord guild moderation bot
Documentation={{ bolt_repository_url }}
Requires=postgresql.service network-online.target
After=postgresql.service network-online.target

[Service]
User={{ bolt_service_user }}
ExecStart=/bin/sh {{ bolt_directory }}/current/bin/bolt start

EnvironmentFile=/etc/opt/bolt/bolt.env
MemoryHigh=180M
MemoryMax=200M
RemainAfterExit=no
Restart=on-failure
RestartSec=5
SyslogIdentifier=bolt
ProtectSystem=full
ProtectHome=true
WorkingDirectory={{ bolt_directory }}/current

[Install]
WantedBy=network-online.target

# vim: ft=dosini.jinja2:
