# {{ ansible_managed }}

BOT_TOKEN="{{ bolt_bot_token }}"
BOTLOG_CHANNEL="{{ bolt_botlog_channel }}"
ERL_EPMD_ADDRESS="127.0.0.1"
NODE_COOKIE="{{ bolt_cookie }}"
PGSQL_URL="ecto://{{ bolt_postgres_user }}:{{ bolt_postgres_password }}@{{ bolt_postgres_host }}/{{ bolt_postgres_database }}?pool_size={{ bolt_postgres_pool_size }}"
POSTGRES_PASSWORD="{{ bolt_postgres_password }}"
REPLACE_OS_VARS="true"
SUPERUSERS="{{ bolt_superusers }}"
WEB_DOMAIN="{{ bolt_web_domain }}"

# vim: ft=conf:
