# {{ ansible_managed }}

BOT_TOKEN="{{ bolt_bot_token }}"
BOTLOG_CHANNEL="{{ bolt_botlog_channel }}"
ERL_EPMD_ADDRESS="127.0.0.1"
NODE_COOKIE="{{ bolt_cookie }}"
PGSQL_URL="{{ bolt_pgsql_url }}"
POSTGRES_PASSWORD="{{ bolt_postgres_password }}"
REPLACE_OS_VARS="true"
SUPERUSERS="{{ bolt_superusers }}"
{% if bolt_web_domain is defined %}
WEB_DOMAIN="{{ bolt_web_domain }}"
{% endif %}

# vim: ft=conf:
