# {{ ansible_managed }}

BASE_DOC_URL="{{ bolt_base_doc_url }}"
BOT_TOKEN="{{ bolt_bot_token }}"
BOTLOG_CHANNEL="{{ bolt_botlog_channel }}"
NODE_COOKIE="{{ bolt_cookie }}"
PGSQL_URL="ecto://{{ bolt_postgres_user }}:{{ bolt_postgres_password }}@{{ bolt_postgres_host }}/{{ bolt_postgres_database }}?pool_size={{ bolt_postgres_pool_size }}"
POSTGRES_PASSWORD="{{ bolt_postgres_password }}"
REPLACE_OS_VARS="true"
SUPERUSERS="{{ bolt_superusers }}"

# vim: ft=conf:
