# {{ ansible_managed }}

[Unit]
Description=discord guild moderation bot
Documentation={{ bolt_repository_url }}
Requires=postgresql.service network-online.target
After=postgresql.service network-online.target

[Service]
User={{ bolt_service_user }}
ExecStart=/bin/sh {{ bolt_directory }}/current/bin/bolt start

# NOTE: The last path is used as the RRD destination path, see `config/releases.exs`.
StateDirectory=bolt bolt/rrd

WorkingDirectory={{ bolt_directory }}/current
EnvironmentFile=/etc/opt/bolt/bolt.env

MemoryHigh=480M
MemoryMax=500M
RemainAfterExit=no
Restart=on-failure
RestartSec=5
SyslogIdentifier=bolt

# boxy boxy
CapabilityBoundingSet=
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
PrivateUsers=true
ProcSubset=pid
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
RestrictSUIDSGID=true
# Allow the release entry point to create temporary files in here.
ReadWritePaths={{ deploy_helper.new_release_path }}
RemoveIPC=true
RestrictAddressFamilies=AF_INET
RestrictNamespaces=true
RestrictRealtime=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
UMask=0077

[Install]
WantedBy=network-online.target

# vim: ft=dosini.jinja2:
